[buildout]
extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg

versions = versions
parts =
    instance
    i18ndude
    zopeskel
    omelette
    zopepy
    test
    coverage

include-site-packages = false
extensions = mr.developer    
sources-dir = ${buildout:directory}/devsrc
#develop = .
sources = sources
always-checkout = force
auto-checkout = *

find-links +=
    http://dist.repoze.org/
    http://effbot.org/downloads/

[versions]
zope.configuration = 3.8.0

[remotes]
github = git://github.com
github_push = git@github.com

[sources]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = off
deprecation-warnings = on
blob-storage = var/blobstorage
environment-vars =
#  PTS_LANGUAGES de, en, fr
  TZ Europe/Zurich
#  zope_i18n_allowed_languages de en fr
  zope_i18n_compile_mo_files true
eggs =
    Pillow
    Plone
    plone.reload
#    fhnw.event

zcml =
    plone.reload

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[zopeskel]
recipe = zc.recipe.egg
eggs =
	ZopeSkel==2.21.2
	zopeskel.diazotheme
    zopeskel.dexterity
    
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = 
    Plone
#    fhnw.event [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[zopepy]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = zopepy
scripts = zopepy

[coverage]
recipe = zc.recipe.egg
eggs = coverage
interpreter = ${buildout:directory}/bin/zopepy
